<div class="containt container my-4">
  <h1><%= @movie.title %></h1>
  <p><%= @movie.overview %></p>
  <p><strong><%= @movie.rating %>/10</strong></p>
  <img src="<%= @movie.poster_url %>" class="image-size" alt="poster of <%= @movie.title %>">
</div>
